body {
    background-color: #a6dfff;
}


/*header */

header {
    background-color: #fff;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
    flex-grow: 1;
    margin: 0;
}

#logo {
    margin-right: auto;
}

#logo img {
    width: 40px;
}

#login {
    margin-left: auto;
}

.menu li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #0056b3;
}

.login {
    background-color: #ff9f68;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.login:hover {
    background-color: #ff8c3a;
}

.logoHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}


/*sobre*/

.sobre {
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    margin: 40px auto;
    padding: 20px;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #ffffff;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.sobre img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.sobre p {
    margin: 20px;
    text-align: justify;
    line-height: 1.6;
    font-size: 1.1rem;  
}
.sobre h2 {
    text-align: center;
}


/*carrossel */
.carrossel-container {
    width: 80%;
    margin: 50px auto;
    text-align: center;
    position: relative;
}

.carrossel {
    position: relative;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.carrossel img {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 0.5s ease-in-out;
}

.carrossel img.ativo {
    display: block;
    opacity: 1;
}

/* Ícones do carrossel */
.carrossel-icones {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.carrossel-icones .icone {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
    transition: transform 0.3s ease;
}

.carrossel-icones .icone img {
    width: 50px;
    height: 50px;
}

.carrossel-icones .icone.ativo img {
    transform: scale(1.2);
    filter: brightness(1.2);
}

.carrossel-icones .icone:hover img {
    transform: scale(1.1);
}
